@page "{username}"
@model PlatBlogs.Pages.FollowingsModel

@if (Model.AjaxResult)
{
    Layout = null;
    @await Html.PartialAsync("~/Views/_Partials/UserListWithLoadMore.cshtml", Model.UsersModel)
    return;
}

@{
    ViewData["Title"] = $"{Model.InspectedUser.UserName}'s followings";
    ViewData["User"] = Model.InspectedUser;
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>@($"{Model.InspectedUser.FullName}'s followings")</h2>

@await Html.PartialAsync("~/Views/_Partials/UserListWithLoadMore.cshtml", Model.UsersModel)


