@page 
@model PlatBlogs.Pages.HomeModel

@{
    ViewData["Title"] = "Home page";
    ViewData["User"] = Model.CurrentUser;
    if (Model.AjaxResult)
    { Layout = null; }
}

@if (Model.AjaxResult)
{
    @await Html.PartialAsync("~/Views/_Partials/PostListWithLoadMore.cshtml", Model.PostsModel)
    return;
}

<h2>"Your news"</h2>
@await Html.PartialAsync("~/Views/_Partials/PostListWithLoadMore.cshtml", Model.PostsModel)

