body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.navbar-input-search {
    background-color: #f5f8fa;
    border-radius: 21px;
    border: 1px solid #e6ecf0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #14171a;
    display: block;
    font-size: 12px;
    line-height: 16px;
    padding: 8px 32px 8px 12px;
    transition: all .2s ease-in-out;
    height: 25px;
    width: 200px;

    margin-top: 14px;
    margin-left: 10px;
}

.navbar-newpost, .navbar-newpost:link, .navbar-newpost:visited, 
    .navbar-newpost:hover, .navbar-newpost:active {
    background-color: #1da1f2 !important;
    border: 1px solid #1da1f2 !important;
    color: #fff !important;
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    padding: 6px 0;
    position: relative;
    text-align: center;
    white-space: nowrap;

    margin-top: 11px;
    width: 100px;
    margin-left: 10px;
    margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
    .navbar-newpost, .navbar-newpost:link, .navbar-newpost:visited, 
    .navbar-newpost:hover, .navbar-newpost:active {
        margin-top: 0;
    }

    .navbar-input-search {
        margin-top: 5px;
    }
}

a:link, a:visited, a:hover, a:active  {
  /* Applies to all links */
    text-decoration:  none;
    font-weight:      normal;
    color: black;
}

#left-menu {
    position: fixed;
    margin-top: 10px;
    width: 280px;
    padding-left: 10px;
    overflow-wrap: break-word;
    background: white;
    z-index: 1;
}

#right-menu {
    margin-left: 295px;
    min-height: 500px;
}

#right-menu > :first-child {
    margin-top: 10px;
}

.lm-image-link {
    display: block;
    margin-bottom: 10px;
}

.lm-image {
    height: 225px;
    max-width: 280px;
    margin-left: -10px;
}

.name {
    font-size: 20px;
    font-weight: bold !important;
    margin-right: 5px;
}

.name, .nickname {
    vertical-align: middle;
}

#left-menu, #right-menu, .nickname {
    font-size: 15px;
    color: black;
}

.lm-nickname {
    display: inline-block;
    margin-top: 5px;
}

.lock-sign {
    width: 15px;
    height: 15px;
    margin-left: 2px;
}

.lm-statistics {
    display: inline-block;
    width: 100%;
}

.lm-statistics-block {
    width: 32%;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    font-size: 17px;
    padding-right: 5px;
}

.lm-statistics-block:hover {
    color: #aaa;
}

.lm-hr {
    display: none;
    width: 100%;
    border-color: #1DA1F2;
    border-radius: 5px;
    border-style: solid;
    margin-top: 5px;
}

@media (max-width: 767px) {
    #left-menu {
        position: relative;
        width: 100%;
    }

    #right-menu {
        margin-left: 0;
        min-height: 0;
    }

    .lm-image-link {
        float: left;
        display: inline-block;
        margin-bottom: 5px;
        margin-right: 20px;
    }

    .lm-hr {
        display: block;
    }
}

.post, .user {
    border-radius: 30px;
    border-style: solid;
    border-width: 3px;
    padding: 5px 30px;
    margin-top: 10px;
    font-size: 15px;
    color: black;
}

.post {
    border-color: #ccc;
}

.post-date {
    float: right;
}

.post-like-form {
    width: 100%;
    display: block;
    text-align: center;
}

.post-like-button {
    border: none;
    padding: 0 5px 0 28px !important;
    background: none !important;
    background-repeat: no-repeat !important;
    background-position: 5px center !important;
    background-size: 22px !important;
    font-size: 14px;
    line-height: 23px;
    color: #657786;
}

.post-like-button:hover {
    color: #e0245e;
}

.not-liked-img {
    background-image: url("/images/like_not_liked.png") !important;
}

.not-liked-img:hover {
    background-image: url("/images/like_not_liked_hover.png") !important;
}

.liked-img {
    background-image: url("/images/like_liked.png") !important;
}

.platblogs-button {
    width: 100%;
    display: block;
    text-align: center;
    border-color: #1DA1F2;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    padding: 5px 30px;
    margin-top: 10px;
    color: #1DA1F2;
    text-decoration: none;
    background: none !important;
}

.user {
    border-color: #777;
    min-height: 90px;
}

.user-img {
	width: 75px;
	height: 75px;
	display: inline-block;
    float: left;
    margin-right: 10px;
}

.nickname-group {
    display: inline-block;
}

.smaller-captions > h2 {
    margin: 0;
    font-size: 150%;
}

.text-danger-important {
    color: #a94442 !important;
}